<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        Permisos de Internet (si en el futuro agregas sincronización en la nube)
        No es necesario para la versión actual, pero es buena práctica incluirlo
    -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeditationTracker"
        tools:targetApi="31">

        <!--
            MainActivity: Punto de entrada de la aplicación

            android:exported="true": Permite que el launcher abra la app

            intent-filter: Define qué acciones puede manejar esta Activity
            - MAIN: Es la Activity principal
            - LAUNCHER: Aparece en el app drawer (cajón de apps)
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MeditationTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>